.login_submit {
    text-align: right;
}

.login_submit a {
    font-size: 15px;
    float: left;
    line-height: 39px;
}

.login_submit a:hover {
    color: #09c6ab;
}

.messages {
    color: red;
}