body {
    background-color: #f6f6f6;
    font-family: monospace;
}

.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    border-collapse: collapse;
}

.post-title {
    font-size: 20px;
    text-decoration: none;
    color: #052f77;
}

.post-content {
    background: #e8f0fe;
    border-radius: 2px;
    border: 1px solid #e8f0fe;
    box-sizing: border-box;
    float: none;
    margin: 0px auto;
    outline: 0px;
    padding: 15px 20px;
    vertical-align: baseline;
    color: rgb(7, 7, 7);
    font-family: arial, sans-serif;
    font-size: 12px;
}