body {
    /* text-align: center; */
    background-color: #f6f6f6;
}

.form-login {
    border: 3px solid #f6f6f6;
    align-items: center;
    margin: 50px auto 50px auto;
    width: 400px;
}

.title {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}

.form-label {
    margin-bottom: 5px;
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
}

.form-control {
    margin: 10px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #e8f0fe;
    box-sizing: border-box;
    background-color: #e8f0fe;
    width: 100%;
    outline: none;
    border-radius: 5px;
}

.form-control {
    background-color: #e8f0fe;
}

.btn-submit {
    background-color: #464646;
    color: white;
    padding: 13px 30px 13px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    position: relative;
}

.btn-submit:hover {
    opacity: 0.4;
}

.messages {
    font-size: 12px;
    color: red;
    font-family: "Josefin Sans", sans-serif;
}

.signup {
    text-align: end;
    margin: 8px 50px 35px;
    font-family: "Josefin Sans", sans-serif;
}