body {
    background-color: #f6f6f6;
    font-family: monospace;
}

.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    border-collapse: collapse;
}

.post-title {
    font-size: 20px;
    text-decoration: none;
}

.post-content {
    background: #e8f0fe;
    border-radius: 2px;
    border: 1px solid #e8f0fe;
    box-sizing: border-box;
    float: none;
    margin: 0px auto;
    outline: 0px;
    padding: 15px 20px;
    vertical-align: baseline;
    color: rgb(7, 7, 7);
    font-family: arial, sans-serif;
    font-size: 12px;
}

.form-control {
    margin: 10px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #e8f0fe;
    box-sizing: border-box;
    background-color: #e8f0fe;
    width: 100%;
    outline: none;
    border-radius: 5px;
}

.textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.comment {
    margin: 8px 0 0 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background-color: #f8f8f8;
    width: 100%;
    outline: none;
    border-radius: 5px;
}

.btn-submit {
    margin: 4px 2px;
    padding: 8px;
    background-color: #464646;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    cursor: pointer;
}

.btn-submit:hover {
    opacity: 0.4;
}

.post-title {
    font-size: 20px;
    text-decoration: none;
    color: #052f77;
}

.img-avt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.form-upload {
    border: 3px solid #f6f6f6;
    align-items: center;
    margin: 50px auto 50px auto;
    width: 400px;
}